In [3]:
import pandas as pd
data = pd.read_csv("Expanded_data_with_more_features.csv")

In [4]:
data.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

1. Скільки студентів і студенток у наборі даних?

In [5]:
male_count = (data["Gender"] == "male").sum()
female_count = (data["Gender"] == "female").sum()

print("Кількість студентів:", male_count)
print("Кількість студенток:", female_count)

Кількість студентів: 15217
Кількість студенток: 15424

 2. Який відсоток студентів чоловічої статі в наборі даних?

In [7]:
total_students = len(data)

male_students = (data["Gender"] == "male").sum()

male_percentage = (male_students / total_students) * 100

print("Відсоток студентів чоловічої статі:", male_percentage)

Відсоток студентів чоловічої статі: 49.6622172905584

   3. Який відсоток студенток у наборі даних?

In [8]:
female_students = (data["Gender"] == "female").sum()

female_percentage = (female_students / total_students) * 100

print("Відсоток студенток:", female_percentage)

Відсоток студенток: 50.337782709441605

 4. Яка етнічна група має найвищий середній бал з математики?

In [9]:
math_scores_by_ethnicity = data.groupby("EthnicGroup")["MathScore"].mean()
ethnicity_highest_math_score = math_scores_by_ethnicity.idxmax()

print("Етнічна група з найвищим середнім балом з математики:", ethnicity_highest_math_score)

Етнічна група з найвищим середнім балом з математики: group E

 5. Яка етнічна група має найвищий середній бал читання?

In [10]:
reading_scores_by_ethnicity = data.groupby("EthnicGroup")["ReadingScore"].mean()
ethnicity_highest_reading_score = reading_scores_by_ethnicity.idxmax()

print("Етнічна група з найвищим середнім балом з читання:", ethnicity_highest_reading_score)

Етнічна група з найвищим середнім балом з читання: group E

  6. Яка етнічна група має найвищий середній бал з письма?

In [11]:
writing_scores_by_ethnicity = data.groupby("EthnicGroup")["WritingScore"].mean()
ethnicity_highest_writing_score = writing_scores_by_ethnicity.idxmax()

print("Етнічна група з найвищим середнім балом з письма:", ethnicity_highest_writing_score)

Етнічна група з найвищим середнім балом з письма: group E

     7. Який середній бал з математики для студентів, які закінчили курс підготовки до тесту?

In [12]:
prepared_students = data[data["TestPrep"] == "completed"]
average_math_score_prep = prepared_students["MathScore"].mean()

print("Середній бал з математики для студентів, які закінчили курс підготовки до тесту:", average_math_score_prep)

Середній бал з математики для студентів, які закінчили курс підготовки до тесту: 69.5466599698644

  8. Який середній бал з читання для студентів, які пройшли курс підготовки до тесту?

In [17]:
average_reading_score_prep = prepared_students["ReadingScore"].mean()

print("Середній бал з читання для студентів, які пройшли курс підготовки до тесту:", average_reading_score_prep)

Середній бал з читання для студентів, які пройшли курс підготовки до тесту: 73.73299849321948

 9. Який середній бал для студентів, які закінчили курс підготовки до тесту?

In [16]:
average_score_prep = prepared_students[["MathScore", "ReadingScore", "WritingScore"]].mean(axis=1)

print("Середній бал для студентів, які закінчили курс підготовки до тесту:", average_score_prep.mean())

Середній бал для студентів, які закінчили курс підготовки до тесту: 72.66097438473129

10. Скільки студентів мають одружених батьків?

In [18]:
married_parents_students = data[data["ParentMaritalStatus"] == "married"]

married_parents_count = len(married_parents_students)

print("Кількість студентів, які мають одружених батьків:", married_parents_count)

Кількість студентів, які мають одружених батьків: 16844

11. Скільки студентів мають батьків-одинаків?

In [22]:
single_parent_students = data[data["ParentMaritalStatus"].isna()]
single_parent_count = len(single_parent_students)

print("Кількість студентів, у яких є тільки один з батьків:", single_parent_count)

Кількість студентів, у яких є тільки один з батьків: 1190

12. Чи студенти, які регулярно займаються спортом, мають вищі середні результати з математики, ніж ті, хто ніколи не       займається спортом?

In [23]:
average_math_scores_by_sport = data.groupby("PracticeSport")["MathScore"].mean()

print("Середній бал з математики для студентів, які регулярно займаються спортом:", average_math_scores_by_sport["regularly"])
print("Середній бал з математики для студентів, які ніколи не займаються спортом:", average_math_scores_by_sport["never"])

Середній бал з математики для студентів, які регулярно займаються спортом: 67.83915500787548
Середній бал з математики для студентів, які ніколи не займаються спортом: 64.17107892107892

13. Чи студенти, які регулярно займаються спортом, мають вищі середні результати читання, ніж ті, хто ніколи не займається спортом?

In [25]:
average_reading_scores_by_sport = data.groupby("PracticeSport")["ReadingScore"].mean()

print("Середній бал з читання для студентів, які регулярно займаються спортом:", average_reading_scores_by_sport["regularly"])
print("Середній бал з читання для студентів, які ніколи не займаються спортом:", average_reading_scores_by_sport["never"])

Середній бал з читання для студентів, які регулярно займаються спортом: 69.94301862318169
Середній бал з читання для студентів, які ніколи не займаються спортом: 68.33766233766234

 14. Скільки учнів користується шкільним автобусом, щоб дістатися до школи?

In [27]:
bus_students = data[data["TransportMeans"] == "school_bus"]

bus_students_count = len(bus_students)

print("Кількість учнів, які користуються шкільним автобусом:", bus_students_count)

Кількість учнів, які користуються шкільним автобусом: 16145

  15. Скільки учнів користується приватним транспортом, щоб дістатися до школи?

In [33]:
private_transport_students_count = data[data["TransportMeans"] != "school_bus"].shape[0]

print("Кількість учнів, які користуються приватним транспортом:", private_transport_students_count)

Кількість учнів, які користуються приватним транспортом: 14496

Задача класифікації 5 балів
   Передбачте, чи завершив студент курс підготовки до іспиту, на основі його демографічних та академічних даних.

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

data.dropna(inplace=True)

label_encoders = {}
for column in data.select_dtypes(include=['object']).columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

X = data.drop('TestPrep', axis=1)
y = data['TestPrep']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = RandomForestClassifier(random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.736404833836858